/* variables */
:root {
    --navbar_footer: hsl(101, 40%, 56%);
    --sections: hsl(100, 79%, 71%);
    --hover: hsl(101, 64%, 27%);
    --action: hsl(100, 30%, 33%);
    --fonts: hsl(100, 61%, 86%);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Raleway', sans-serif;
}

/* fin de los seteos del css */

/* inicio de la maquetacion mas general */
.body {
    display: flex;
    flex-wrap: wrap;
}

.header,
.main,
.footer {
    width: 100%;
    min-width: 150px;
    height: 200px;
}

.main {
    background-color: green;
}

.footer {
    background-color: yellow;
}

.header {
    display: flex;
}

.header__logo,
.nav {
    width: 100%;
    height: 200px;
}

.header__logo {
    background-color: black;
}

.nav {
    background-color: red;
}

.main {
    display: flex;
    flex-wrap: wrap;
    height: 1000px;
}

.inicio,
.cards {
    width: 100%;
    height: 200px;
}

.cards {
    height: 800px;
}

.inicio {
    display: flex;
}

.inicio__left,
.inicio__right {
    width: 100%;
    height: 200px;
}

.inicio__left {
    background-color: crimson;
}

.inicio__right {
    background-color: chartreuse;
}

.cards {
    display: flex;
    flex-wrap: wrap;
}

.card__one,
.card__two,
.card__three,
.card__four {
    width: 100%;
    height: 200px;
}

.card__one {
    background-color: darkmagenta;
}

.card__two {
    background-color: blue;
}

.card__three {
    background-color: cornflowerblue;
}

.card__four {
    background-color: crimson;
}

@media (min-width: 600px) {
    .main {
        height: 600px;
    }

    .cards {
        height: 400px;
    }

    .card__one,
    .card__two,
    .card__three,
    .card__four {
        width: 50%;
    }
}

@media (min-width: 800px) {

    .body {
        width: 800px;
        margin-left: auto;
        margin-right: auto;
    }
}